{% extends "layout.html" %}

{% block content %}

    <!-- Table -->
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">회원</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                <tr>
                    <th scope="col">순번</th>
                    <th scope="col">ID</th>
                    <th scope="col">Sign up date</th>
                    <th scope="col">채팅 기록</th>
                </tr>
            </thead>

            <tbody>
                {% for join in user_tong %}
                    <tr>
                        <th scope="row">{{join[0]}}</th>
                        <td>{{join[1]}}</td>
                        <td>{{join[3]}}</td>
                        <td><button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#{{join[1]}}">채팅 보기</button></td>


                        <div class="modal fade" id="{{join[1]}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalScrollableTitle">ID&nbsp;&nbsp;:&nbsp;&nbsp;{{join[1]}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {% for chat in chat_box %}
                                            {% if join[1] == chat[0] %}
                                                <p>Q&nbsp;&nbsp;:&nbsp;&nbsp;{{chat[1]}}</p>
                                                <p>A&nbsp;&nbsp;:&nbsp;&nbsp;{{chat[2]}}</p>
                                                <br>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <br>

{% endblock %}