{% extends "layout.html" %}

{% block script %}

    <script async type="text/javascript">
        var attraction ={{ attraction|tojson }};
        var travel ={{ travel|tojson }};
        var restaurant ={{ restaurant|tojson }};
        var weather ={{ weather|tojson }};
        var dust ={{ dust|tojson }};
    </script>
    
    <link rel="stylesheet" href="./static/css/entity.css">

    <!--datatables-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"/>
    <script async src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

    <script async type="text/javascript" src="./static/js/entity.js"></script>
    
{% endblock %}


{% block content %}
    <div class="container">

        <!--검색-->
        <form method="GET" class="form-signin" action="{{url_for('to_serach_entity')}}">
            <div class="card shadow mb-4">

                <div class="card-header py-3">
                    <i class="fas fa-search"></i> 검색
                </div>
            
                <div class="card-body">
                    <!--라디오 박스-->
                    <label class="radio-inline"><input type="radio" name="rdi_entity" value="location" checked="checked">위치</label>
                    <label class="radio-inline"><input type="radio" name="rdi_entity" value="entity">개체명</label>

                    <!--입력란-->
                    <input type="text" name="search_word">
                    
                    <!--버튼-->
                    <button type="submit" class="btn btn-outline-secondary">
                        <i class="fas fa-search"></i>
                    </button>

                </div>
            </div>
        </form>
        
         <!--개체명 테이블-->
        <div class="row">

            <!--테이블: 명소-->
            <div class="col-sm-6">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <i class="fas fa-suitcase-rolling"></i> 명소(attraction)
                    </div>
                    <div class="card-body">
                        <table id="attraction" class="table" width="100%"></table>
                    </div>
                </div>
            </div>

            <!--테이블: 여행지-->
            <div class="col-sm-6">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <i class="fas fa-umbrella-beach"></i> 여행지(travel)
                    </div>
                    <div class="card-body">
                        <table id="travel" class="table" width="100%"></table>
                    </div>
                </div>
            </div>

            <!--테이블: 맛집-->
            <div class="col-sm-6">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <i class="fas fa-utensils"></i> 맛집(restaurant)
                    </div>
                    <div class="card-body">
                        <table id="restaurant" class="table" width="100%"></table>
                    </div>
                </div>
            </div>

            <!--테이블: 날씨-->
            <div class="col-sm-6">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <i class="fas fa-utensils"></i> 날씨(weather)
                    </div>
                    <div class="card-body">
                        <table id="weather" class="table" width="100%"></table>
                    </div>
                </div>
            </div>

            <!--테이블: 먼지-->
            <div class="col-sm-6">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <i class="fas fa-utensils"></i> 먼지(dust)
                    </div>
                    <div class="card-body">
                        <table id="dust" class="table" width="100%"></table>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}