<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    

        <!-- Bootstrap CSS -->


        <!--
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        -->

        <script async src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script async src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script async src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
        <!-- fontawesome-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

        {% block script %}
        
        {% endblock %}

        <title>Trigo</title>

        
    </head>

    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{url_for("admin")}}">
                <i class="fas fa-comments"></i> Trigo
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for("dialog")}}">
                            <i class="fas fa-users" style="font-size: 14px;"></i> 회원 목록<span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for("purpose")}}">
                            <i class="fas fa-question" style="font-size: 14px;"></i> 의도
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for("entity")}}">
                            <i class="far fa-object-ungroup" style="font-size: 14px;"></i> 개체명
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for("logout")}}">
                            <i class="fas fa-sign-out-alt"></i> 로그아웃
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Jumbotron -->
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Trigo</h1>
                <p class="lead">이상적인 챗봇을 추구합니다.</p>
            </div>
        </div>

        <br>
        <main>
        {% block content %}
            <!-- 자식.html의 내용이 이 곳에 삽입됩니다. -->
        {% endblock %}
        </main>
        <br>

        <!-- Footer -->
        <footer>
            <div class="container; p-3 mb-2 bg-light text-muted">
                <br>
                <div class="row">
                    <div class="col-sm-2" style="text-align: center;"><h6>Copyright &copy; 2019</h6><h6>GBJ</h6></div>
                    <div class="col-sm-4"><h5>대표</h5><p>facecan</p></div>
                    <div class="col-sm-2"><h5 style="text-align: center;">안내</h5>
                        <div class="list-group">
                            <a href="{{url_for("dialog")}}" class="list-group-item" style="text-align: center;">회원 목록</a>
                            <a href="{{url_for("purpose")}}" class="list-group-item" style="text-align: center;">의도</a>
                            <a href="{{url_for("entity")}}" class="list-group-item" style="text-align: center;">개체명</a>
                        </div>
                    </div>
                    <div class="col-sm-2"><h5 style="text-align: center;">SNS</h5>
                        <div class="list-group">
                            <a href="https://www.instagram.com/taeri__taeri/" class="list-group-item" style="text-align: center;">인스타그램</a>
                            <a href="https://www.youtube.com/channel/UC5duyhoJ4mXbZff6elnmvTw" class="list-group-item" style="text-align: center;">유튜브</a>
                            <a href="https://www.facebook.com/officialhhj" class="list-group-item" style="text-align: center;">페이스북</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!--
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        -->
    </body>
</html>