{% extends "layout.html" %}

{% block script %}
    <script type="text/javascript">
        var column = {{ label|tojson }};
        var count = {{ count|tojson }};

        var attraction_label = {{ attraction_label|tojson }};
        var attraction_data = {{ attraction_data|tojson }};

        var travel_label = {{ travel_label|tojson }};
        var travel_data = {{ travel_data|tojson }};

        var restaurant_label = {{ restaurant_label|tojson }};
        var restaurant_data = {{ restaurant_data|tojson }};

        var weather_label = {{ weather_label|tojson }};
        var weather_data = {{ weather_data|tojson }};

        var dust_label = {{ dust_label|tojson }};
        var dust_data = {{ dust_data|tojson }};
    </script>
    <link rel="stylesheet" href="./static/css/purpose.css">

    <!--charjs 도넛 차트-->
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
    <script async src="./static/js/purpose.js"></script>

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!--도넛 차트-->
        <div class="col">
            <div class="card shadow mb-3">
                <div class="card-header py-3">
                    <i class="fas fa-chart-pie"></i> 의도 집계
                </div>
                <div class="card-body">
                    <canvas id="myPieChart"></canvas>
                </div>
            </div>
        </div>

        <!--바 차트-->
        <div class="col">
            <div class="card shadow mb-3">
                <div class="card-header py-3">
                    <i class="fas fa-chart-pie"></i> 명소
                </div>
                <div class="card-body">
                    <canvas id="attraction"></canvas>
                </div>
            </div>
        </div>

        <!--바 차트-->
        <div class="col">
            <div class="card shadow mb-3">
                <div class="card-header py-3">
                    <i class="fas fa-chart-pie"></i> 여행지
                </div>
                <div class="card-body">
                    <canvas id="travel"></canvas>
                </div>
            </div>
        </div>

        <!--바 차트-->
        <div class="col">
            <div class="card shadow mb-3">
                <div class="card-header py-3">
                    <i class="fas fa-chart-pie"></i> 맛집
                </div>
                <div class="card-body">
                    <canvas id="restaurant"></canvas>
                </div>
            </div>
        </div>

        <!--바 차트-->
        <div class="col">
            <div class="card shadow mb-3">
                <div class="card-header py-3">
                    <i class="fas fa-chart-pie"></i> 날씨
                </div>
                <div class="card-body">
                    <canvas id="weather"></canvas>
                </div>
            </div>
        </div>

        <!--바 차트-->
        <div class="col">
            <div class="card shadow mb-3">
                <div class="card-header py-3">
                    <i class="fas fa-chart-pie"></i> 미세먼지
                </div>
                <div class="card-body">
                    <canvas id="dust"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
