{% extends "layout.html" %}

{% block script %}
    <script async type="text/javascript">
        var entity ={{ entity|tojson }};
        var result ={{ result|tojson }};
    </script>

    <link rel="stylesheet" href="./static/css/entity.css">
    
     <!--datatables-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"/>
    <script async src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

    <script async type="text/javascript" src="./static/js/serach_entity.js"></script>
{% endblock %}

{% block content %}
    <!--검색-->
    <div class="container">
        <div class="alert alert-secondary">
            <a href="{{url_for("entity")}}" class="btn btn-outline-secondary">
                <i class="fas fa-backspace"></i>뒤로가기
            </a>
        </div>
        <hr>
        <!--검색-->
    <form method="GET" class="form-signin" action="{{url_for('to_serach_entity')}}">
        <div class="card shadow mb-4">

            <div class="card-header py-3">
                <i class="fas fa-search"></i> 검색
            </div>
        
            <div class="card-body">
                <!--라디오 박스-->
                <label class="radio-inline"><input type="radio" name="rdi_entity" value="location" checked="checked">위치</label>
                <label class="radio-inline"><input type="radio" name="rdi_entity" value="entity">개체명</label>

                <!--입력란-->
                <input type="text" name="search_word" value="{{request.args.get('search_word')}}">
                
                <!--버튼-->
                <button type="submit" class="btn btn-outline-secondary">
                    <i class="fas fa-search"></i>
                </button>

                <table id="datatable" class="table" width="100%"></table>

            </div>
        </div>
    </form>
        
    </div>
{% endblock %}